@font-face {
	font-family: 'Kano';
	src: url('Kano_Regular/Kano-regular.eot');
	src: url('Kano_Regular/Kano-regular.eot?#iefix') format('embedded-opentype'),
		url('Kano_Regular/Kano-regular.woff2') format('woff2'),
		url('Kano_Regular/Kano-regular.woff') format('woff'),
		url('Kano_Regular/Kano-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bilius';
	src: url('fonts/billius/Bilius.eot');
	src: url('fonts/billius/Bilius.eot?#iefix') format('embedded-opentype'),
		url('fonts/billius/Bilius.woff2') format('woff2'),
		url('fonts/billius/Bilius.woff') format('woff'),
		url('fonts/billius/Bilius.ttf') format('truetype'),
		url('fonts/billius/Bilius.svg#Bilius') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Kano';
  font-size: 18px;
  background: #000d19;
  display: flex;
  -webkit-font-smoothing: antialiased;
}

.background {
  background: #B4B4BF;
  max-width: 1180px;
  height: 90vh;
  margin: 30px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 25px;
  /*height: 100%;*/
}

.content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 40%;
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 40%;
}

.content-headshot {
  max-width: 250px;
  border-radius: 100%;
}

.content-name {
  font-family: 'Bilius';
  color: #571985;
  font-size: 3em;
  margin: 10px 0;
}

.content-text {
  text-align: center;
}

.content-email {
  text-decoration: none;
  color: #571985;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  width: 273.28px;
  margin-bottom: 1rem;
}

.social-icons-text {
  display: none;
}

.icons {
  width:50px;
  height:50px;
  fill: #fcfcfc;
}

.icons:hover {
  fill: #571985;
  transition: ease;
  transition-duration: 0.3s;
}

@media (min-width:750px) {

  .content {
    flex-direction: row;
  }

  .content-left {
    border-right: 1px solid #353947;
    height: 90vh;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    }

  .content-name {
    font-family: 'Bilius';
    color: #571985;
    font-size: 3em;
    margin: 2rem;
  }

  .content-right {
    height: 90vh;
    height: 90vh;
    justify-content: space-around;
    margin-left: 1rem;
    margin-right: 1rem;
    }

  .content-text {
    margin-bottom: 0;
    font-size: 22px;
  }

  .social-icons {
    flex-direction: column;
    align-items: center;
  }

  .social-icons-link {
    text-decoration: none;
    display: flex;
    /*background: rgba(53, 57, 71, 0.5);*/
    background: rgba(87, 25, 133, 0.8);
    width: 60%;
    border-radius: 10px;
    border: 1px solid rgba(53, 57, 71, 0.5);
    padding: 5px;
    margin-bottom: 10px;
    color: #fcfcfc;
  }

  .social-hover:hover {
    background-color: #B4B4BF;
    border: 1px solid rgba(53, 57, 71, 0.5);
    color: #571985;
    transition: ease;
    transition-duration: 0.3s;
  }

  .icons {
    fill: #fcfcfc;
  }

  .icons:hover {
    fill: #571985;
  }

  .social-icons-text {
    display: inline;
    text-decoration: none;
    align-self: center;
    margin-left: 1rem;
  }

}
