body {
  margin: 0;
  padding: 0;
  font-family: $family-primary;
  background: $white;
  color: $black;
}


nav {
  position: fixed;
}

content {
  display: flex;
  min-height: 100vh;
}


h1, h2, h3, h4, h5 {
  font-family: $oswald;
  color: $black;
}
