@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen/Oxygen-Light.eot');
	src: url('../fonts/Oxygen/Oxygen-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Oxygen/Oxygen-Light.woff2') format('woff2'),
		url('../fonts/Oxygen/Oxygen-Light.woff') format('woff'),
		url('../fonts/Oxygen/Oxygen-Light.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen/Oxygen-Bold.eot');
	src: url('../fonts/Oxygen/Oxygen-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Oxygen/Oxygen-Bold.woff2') format('woff2'),
		url('../fonts/Oxygen/Oxygen-Bold.woff') format('woff'),
		url('../fonts/Oxygen/Oxygen-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bilius';
	src: url('../fonts/bilius/Bilius.eot');
	src: url('../fonts/bilius/Bilius.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bilius/Bilius.woff2') format('woff2'),
		url('../fonts/bilius/Bilius.woff') format('woff'),
		url('../fonts/bilius/Bilius.ttf') format('truetype'),
		url('../fonts/bilius/Bilius.svg#Bilius') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
  font-size: 16px;
  font-family: 'Oxygen';
}

body {
	background-color:  #fcfcfc;
}

.main {
	height: 100vh;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
	position: absolute;
	bottom: 0;
	align-self: center;
}

.footer-social-group {
	margin: 0 auto;
	max-width: 300px;
	display: flex;
	justify-content: space-around;
}

.footer-social-links {
	font-size: 2.5rem;
	width: 50px;
}

.footer-social-button {
	font-size: 2rem;
	color: #FF3D2E;
}

.footer-social-button:hover {
	color: #353535;
	transition: ease 0.3s;
}


/*MEDIA QUERIES*/

@media (min-width: 576px) {
	.hovereffect {
		width: 450px;
	}
}

@media (min-width: 768px) {
	html, body {
		font-size: 18px;
	}

	.hover-row{
		width: 1000px;
		margin: 0 auto;
		max-width: 100%;
	}

	.intro-box {
		height: 400px;
	}
}
